services:
  - type: web
    name: grant-arkhyz
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    disk:
      name: database
      mountPath: /opt/render/project/src
      sizeGB: 1

